# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Editors
.vscode

# DB
db.sqlite3

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
