<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block html_title %}
            Default title
        {% endblock html_title %}
    </title>
</head>
<body>
    <header>
        <h1>My First Website!</h1>
    </header>
    {% block content %}
    {% endblock content %}
    <footer>
            <table bgcolor="#c0c0c0"  width="100%">
                <tr>
                    <td><h2>Powered by <a href="https://beetroot.academy/" target=_blank>Beetroot Academy Rivne</a></h2></td>
                    <td><h2>2020</h2></td> 
                </tr>
            </table>
    </footer>
</body>
</html>
