{% extends "base.html" %}

{% block html_title %}
    {{ block.super }} - I am landing page!
{% endblock html_title %}

{% block content %}
    <p>Привіт {{ name|title }}!</p>
    <p>Активний користувач: {{ user.email }}</p>
    <p>Сьогодні: {{ now|date:"H:i d M Y"  }}</p>
    <h2>My dear students:</h2>

    <ol>
        {% for name in people %}
            <li>{{ name }}</li>
        {% endfor %}
    </ol>
    <p>
    {% if message %}
        You've successfully performed your action with <strong>{{ message }}</strong>
    {% else %}
        Please, provide a GET param to your URL. Example: ?message=hello
    {% endif %}
    </p>
{% endblock content %}
